/* Decent Defaults */

.pic {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}
video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

:root {
  /* Colors: */
  --space: #182030;
  --platinum: #e6e6e6;
  --pieces-of-eight: #fbb03b;
  --light-space: #2f3644;
  --light-pieces: #fdd79d;

  /* Font/text values */
  --unnamed-font-family-helvetica-neue: Helvetica Neue;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-35: 2.43vw;
  --unnamed-font-size-100: 6.9444vw;
  --unnamed-character-spacing-0: 0vw;
  --unnamed-line-spacing-41: 2.847vw;
  --unnamed-line-spacing-43: 2.986vw;
  --unnamed-line-spacing-123: 8.5417vw;
  --unnamed-font-size-24: 1.67vw;
  --unnamed-line-spacing-28: 1.95vw;
  --unnamed-font-size-17: 1.25vw;
}

/* Character Styles */
.captions {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-17);
  line-height: var(--unnamed-line-spacing-41);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--pieces-of-eight);
  text-align: center;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.section-title {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: 8vw;
  line-height: var(--unnamed-line-spacing-123);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--pieces-of-eight);
  padding-bottom: 3.3333vw;
  margin: 3.3333vw;
  text-align: right;
}
.subsection-head {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-35);
  line-height: var(--unnamed-line-spacing-43);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--pieces-of-eight);
  margin: 2.43vw;
}
.subsection-head-plat {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-35);
  line-height: var(--unnamed-line-spacing-43);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--platinum);
  margin: 2.43vw;
}
.navtext {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-35);
  line-height: var(--unnamed-line-spacing-43);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--pieces-of-eight);
  float: left;
}
.sectionintro {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-35);
  line-height: var(--unnamed-line-spacing-43);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--platinum);
  margin: 2.43vw;
  text-align: center;
}
.bod {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-41);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--platinum);
  margin-left: 6.875vw;
  margin-right: 6.875vw;
  margin-bottom: 1.94444vw;
}
.bod-poe {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-41);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--pieces-of-eight);
  margin-left: 6.875vw;
  margin-right: 6.875vw;
}
.logo {
  float: right;
  max-width: 25%;
}
.logobtm {
  float: center;
  max-width: 55.5555vw;
}
.btt {
  float: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: var(--light-space);
  color: var(--platinum);
  border: none;
  text-align: center;
  outline: none;
  font-size: 2.2222vw;
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-weight: var(--unnamed-font-weight-bold);
  font-style: var(--unnamed-font-style-normal);
  border-radius: 3.3333vw;
}
nav {
  float: right;
  margin-right: 3.3333vw;
  margin-top: 1.01vw;
  margin-left: 2.43vw;
}
body {
  background-color: var(--space);
}
.accordion {
  background-color: var(--space);
  color: var(--pieces-of-eight);
  cursor: pointer;
  padding: 6.875vw;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2rem;
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-weight: var(--unnamed-font-weight-bold);
  font-style: var(--unnamed-font-style-normal);
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--light-space);
}

.panel {
  margin: 6.875vw;
  display: none;
  background-color: var(--space);
  overflow: hidden;
}
a {
  color: var(--pieces-of-eight);
  text-decoration: none;
}
a:visited {
  color: var(--light-pieces);
}
a:hover,
a:active,
a:focus {
  color: var(--platinum);
}
.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-container > img {
  width: 25rem;
  height: auto;
  margin: 1.6667vw;
}
.flex-container > div {
  width: 40rem;
  height: auto;
  margin: 1;
}
.earth {
  position: absolute;
  left: -50%;
  z-index: -1;
}
